
html{
  scroll-behavior: smooth;
 } 
body {
          background-color: #2d2d2d;
          color: white;
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;   } 
  header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 2rem;
          background-color: #1a1a1a;
          position: fixed;
          z-index: 1000;
          width: 98%;
      }
    

.loader1 {
position: relative;
width: 120px;
height:50px;
margin: 0 auto;
margin-left: 10px;

}

.loader1:before {
content: "";
position: absolute;
bottom: 30px;
left: 50px;
height: 30px;
width: 30px;
border-radius: 50%;
background: cyan;
animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader1:after {
content: "";
position: absolute;
right: 0;
top: 0;
height: 7px;
width: 45px;
border-radius: 4px;
box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
0% {
  transform: scale(1, 0.7);
}

40% {
  transform: scale(0.8, 1.2);
}

60% {
  transform: scale(1, 1);
}

100% {
  bottom: 140px;
}
}

@keyframes loading-step {
0% {
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
          0 10px 0 #f2f2f2,
          -35px 50px 0 #f2f2f2,
          -70px 90px 0 #f2f2f2;
}

100% {
  box-shadow: 0 10px 0 #f2f2f2,
          -35px 50px 0 #f2f2f2,
          -70px 90px 0 #f2f2f2,
          -70px 90px 0 rgba(0, 0, 0, 0);
}
}

/* From Uiverse.io by Yaseen549 */ 
.image1 {

border-radius: 30px;
background: #212121;
box-shadow: 15px 15px 30px rgb(25, 25, 25),
            -15px -15px 30px rgb(60, 60, 60);
        

}


.sidebar{
position: fixed;
top: 0;
right: 0;
height: 100vh;
width: 250px;
z-index: 999;
background-color: #2c2b2b;
backdrop-filter: blur(10px);
display: none;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
display: none;
}
.sidebar li{
width: 100%;
}
.sidebar a{
width: 100%;
}
      nav ul {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
        
      }
      nav  li {
          margin-left: 1.5rem;
          height: 50px;
          margin-top: 5px;
      }
      nav ul li a {
          color: white;
          text-decoration: none;
          transition: color 0.3s;
          margin-right: 20px;
      }
      nav ul li a:hover {
          color: #a0a0a0;
      }
      nav a:hover{
        background-color: #525252;
      }
      
      .main {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1.5rem;
          height: 100vh;
      }
      .main .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
         
      }
     
      .main .content h1 {
          font-size: 3rem;
          font-weight: bold;
          margin: 1.5rem 0;
      }
      .main .content p {
          color: #a0a0a0;
          margin-bottom: 1.5rem;
      }
      .main .content .buttons {
          display: flex;
          gap: 1rem;
      }
      .main .content .buttons button {
          padding: 0.75rem 1.5rem;
          border: none;
          border-radius: 9999px;
          font-weight: bold;
          cursor: pointer;
      }
      .main .content .buttons .explore {
          background-color: white;
          color: #2d2d2d;
      }
      .main .content .buttons .play {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          background-color: transparent;
          color: white;
          border: 1px solid #a0a0a0;
      }
      .image1 img{
        
        height: 30vh;
        border-radius: 10px;
      }
     
     


.intro{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 50px;
}

.intro1 {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
max-width: 1000px;

padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content {
flex: 1;
padding: 20px;
}

.about {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.about-me, .about-portfolio {
padding: 15px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {

display: flex;
justify-content: center;
align-items: center;
padding: 20px;

}
.image img {
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.imagelap img {
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
width: 40%;
}

h2, h3 {
color: #444;
text-align: center;
}



p {
line-height: 1.6;
text-align: justify;
}







/* Gallery */
.gallery {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 15px;
padding: 30px;
}

.gallery img {
width: 100%;
height: 30vh;
border-radius: 10px;
box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
transform: scale(1.05);
}

/* About Section */
.about {
padding: 40px;
text-align: center;
}

.about h1 {
font-size: 36px;
}


.about-content {
display: flex;
justify-content: center;
gap: 30px;
margin-top: 20px;
}

.about-content div {
border-radius: 10px;
max-width: 400px;
}

.about-content h2 {
font-size: 24px;
}

.about-content p {
font-size: 16px;
color: #bbb;
}



.container {
max-width: 1000px;
margin: 0 auto;
padding: 16px;
}

.title {
font-size: 24px;
font-weight: bold;
margin-bottom: 16px;
}

.section {
margin-bottom: 32px;
}

.section-title {
font-size: 20px;
font-weight: 600;

margin-top: 5%;
}

.skill-group {
display: flex;
flex-wrap: wrap;
gap: 8px;
margin-top: 6%;
}

.skill {
background-color: black;
color: white;
padding: 8px 16px;
border-radius: 8px;
display: flex;
align-items: center;
}

.skill-logo {
margin-right: 8px;
height: 20px;
width: 20px;
}




.container {
max-width: 800px;
margin: 0 auto;
padding: 50px 20px;
}

.title {
font-size: 48px;
font-weight: bold;
margin-bottom: 20px;
}

.subtitle {
font-size: 24px;
margin-bottom: 10px;
}

.description {
font-size: 20px;
margin-bottom: 30px;
}

.contact-form {
max-width: 600px;
margin: 0 auto;
}

.input-field, .textarea-field, .captcha-input {
width: 100%;
padding: 15px;
margin-bottom: 20px;
background-color: #3c3c3c;
color: #e5e5e5;
border: 1px solid #666;
border-radius: 5px;
}

.textarea-field {
height: 150px;
}

.form-footer {
display: flex;
justify-content: space-between;
align-items: center;
}

.submit-btn {
background-color: #f0f0f0;
color: #333;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.submit-btn:hover {
background-color: #e0e0e0;
}

.captcha {
display: flex;
align-items: center;
}

.captcha span {
margin-right: 10px;
}

.captcha-input {
width: 70px;
padding: 8px;
}

.social-section {
margin-top: 50px;
}

.social-title {
font-size: 24px;
margin-bottom: 20px;
}

.social-icons {
display: flex;
justify-content: center;
gap: 20px;
}

.social-icon {
color: #e5e5e5;
font-size: 30px;
transition: color 0.3s;
}

.social-icon:hover {
color: #f0f0f0;
}



.tab-links{
position: relative;
cursor: pointer;
margin: 20px;
}
.tab-links::after{
content: "";
width: 0;
height: 3px;
background: #ff004f;
position: absolute;
left: 0;
bottom: -8px;
transition: 0.3s;
}
h3{
font-style: italic;
color: #ff004f;
}
.tab-links.active-link::after{
width: 100%;
}

.tab-contents{
display: none;
}
.tab-contents.active-tab{
display: block;
}


.supa{
height: 15px;
width: 15px;
}





/* From Uiverse.io by gharsh11032000 */ 
.card {
position: relative;
width: 300px;
height: 200px;
background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);

}

.card svg {
width: 48px;
fill: #333;
transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
transform: rotate(-5deg) scale(1.1);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(-45deg);
width: 100%;
height: 100%;
padding: 20px;
box-sizing: border-box;
background-color: #fff;
opacity: 0;
transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
transform: translate(-50%, -50%) rotate(0deg);
opacity: 1;
}

.card__title {
margin: 0;
font-size: 24px;
color: #333;
font-weight: 700;
}

.card__description {
margin: 10px 0 0;
font-size: 14px;
color: #777;
line-height: 1.4;
}

.card:hover svg {
scale: 0;
transform: rotate(-45deg);
}




/* From Uiverse.io by Nawsome */ 
.wheel-and-hamster {
--dur: 1s;
position: relative;
width: 12em;
height: 12em;
font-size: 14px;
margin-right: 10%;
}

.wheel,
.hamster,
.hamster div,
.spoke {
position: absolute;
}

.wheel,
.spoke {
border-radius: 50%;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.wheel {
background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
z-index: 2;
}

.hamster {
animation: hamster var(--dur) ease-in-out infinite;
top: 50%;
left: calc(50% - 3.5em);
width: 7em;
height: 3.75em;
transform: rotate(4deg) translate(-0.8em,1.85em);
transform-origin: 50% 0;
z-index: 1;
}

.hamster__head {
animation: hamsterHead var(--dur) ease-in-out infinite;
background: hsl(30,90%,55%);
border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
  0.75em -1.55em 0 hsl(30,90%,90%) inset;
top: 0;
left: -2em;
width: 2.75em;
height: 2.5em;
transform-origin: 100% 50%;
}

.hamster__ear {
animation: hamsterEar var(--dur) ease-in-out infinite;
background: hsl(0,90%,85%);
border-radius: 50%;
box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
top: -0.25em;
right: -0.25em;
width: 0.75em;
height: 0.75em;
transform-origin: 50% 75%;
}

.hamster__eye {
animation: hamsterEye var(--dur) linear infinite;
background-color: hsl(0,0%,0%);
border-radius: 50%;
top: 0.375em;
left: 1.25em;
width: 0.5em;
height: 0.5em;
}

.hamster__nose {
background: hsl(0,90%,75%);
border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
top: 0.75em;
left: 0;
width: 0.2em;
height: 0.25em;
}

.hamster__body {
animation: hamsterBody var(--dur) ease-in-out infinite;
background: hsl(30,90%,90%);
border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
  0.15em -0.5em 0 hsl(30,90%,80%) inset;
top: 0.25em;
left: 2em;
width: 4.5em;
height: 3em;
transform-origin: 17% 50%;
transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
top: 2em;
left: 0.5em;
width: 1em;
height: 1.5em;
transform-origin: 50% 0;
}

.hamster__limb--fr {
animation: hamsterFRLimb var(--dur) linear infinite;
background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
animation: hamsterFLLimb var(--dur) linear infinite;
background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
border-radius: 0.75em 0.75em 0 0;
clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
top: 1em;
left: 2.8em;
width: 1.5em;
height: 2.5em;
transform-origin: 50% 30%;
}

.hamster__limb--br {
animation: hamsterBRLimb var(--dur) linear infinite;
background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
animation: hamsterBLLimb var(--dur) linear infinite;
background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
transform: rotate(-25deg);
}

.hamster__tail {
animation: hamsterTail var(--dur) linear infinite;
background: hsl(0,90%,85%);
border-radius: 0.25em 50% 50% 0.25em;
box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
top: 1.5em;
right: -0.5em;
width: 1em;
height: 0.5em;
transform: rotate(30deg) translateZ(-1px);
transform-origin: 0.25em 0.25em;
}

.spoke {
animation: spoke var(--dur) linear infinite;
background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
  linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
from, to {
  transform: rotate(4deg) translate(-0.8em,1.85em);
}

50% {
  transform: rotate(0) translate(-0.8em,1.85em);
}
}

@keyframes hamsterHead {
from, 25%, 50%, 75%, to {
  transform: rotate(0);
}

12.5%, 37.5%, 62.5%, 87.5% {
  transform: rotate(8deg);
}
}

@keyframes hamsterEye {
from, 90%, to {
  transform: scaleY(1);
}

95% {
  transform: scaleY(0);
}
}

@keyframes hamsterEar {
from, 25%, 50%, 75%, to {
  transform: rotate(0);
}

12.5%, 37.5%, 62.5%, 87.5% {
  transform: rotate(12deg);
}
}

@keyframes hamsterBody {
from, 25%, 50%, 75%, to {
  transform: rotate(0);
}

12.5%, 37.5%, 62.5%, 87.5% {
  transform: rotate(-2deg);
}
}

@keyframes hamsterFRLimb {
from, 25%, 50%, 75%, to {
  transform: rotate(50deg) translateZ(-1px);
}

12.5%, 37.5%, 62.5%, 87.5% {
  transform: rotate(-30deg) translateZ(-1px);
}
}

@keyframes hamsterFLLimb {
from, 25%, 50%, 75%, to {
  transform: rotate(-30deg);
}

12.5%, 37.5%, 62.5%, 87.5% {
  transform: rotate(50deg);
}
}

@keyframes hamsterBRLimb {
from, 25%, 50%, 75%, to {
  transform: rotate(-60deg) translateZ(-1px);
}

12.5%, 37.5%, 62.5%, 87.5% {
  transform: rotate(20deg) translateZ(-1px);
}
}

@keyframes hamsterBLLimb {
from, 25%, 50%, 75%, to {
  transform: rotate(20deg);
}

12.5%, 37.5%, 62.5%, 87.5% {
  transform: rotate(-60deg);
}
}

@keyframes hamsterTail {
from, 25%, 50%, 75%, to {
  transform: rotate(30deg) translateZ(-1px);
}

12.5%, 37.5%, 62.5%, 87.5% {
  transform: rotate(10deg) translateZ(-1px);
}
}

@keyframes spoke {
from {
  transform: rotate(0);
}

to {
  transform: rotate(-1turn);
}
}





/* From Uiverse.io by ilkhoeri */ 
.card1 {
padding: 1rem;
overflow: hidden;
border: 1px solid #c5c5c5;
border-radius: 12px;
background-color: #d9d9d92f;
backdrop-filter: blur(8px);
min-width: 344px;
margin-top: 10%;
height: 10vh;
  width: 10vw;
}
.wrap {
display: flex;
flex-direction: column;
gap: 1rem;
position: relative;
z-index: 10;
border: 0.5px solid #525252;
border-radius: 8px;
overflow: hidden;
}
.terminal {
display: flex;
flex-direction: column;

font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
}
.head {
display: flex;
align-items: center;
justify-content: space-between;
overflow: hidden;
min-height: 40px;
padding-inline: 12px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
background-color: #202425;
height: 5vh;
}
.title1 {
display: flex;
align-items: center;
gap: 8px;
height: 2.5rem;
user-select: none;
font-weight: 600;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color: #8e8e8e;
}
.title1 > svg {
height: 18px;
width: 18px;
margin-top: 2px;
color: #006adc;
}
.copy_toggle {
display: flex;
align-items: center;
justify-content: center;
padding: 0.25rem;
border: 0.65px solid #c1c2c5;
margin-left: auto;
border-radius: 6px;
background-color: #202425;
color: #8e8e8e;
cursor: pointer;
}
.copy_toggle > svg {
width: 20px;
height: 20px;
}
.copy_toggle:active > svg > path,
.copy_toggle:focus-within > svg > path {
animation: clipboard-check 500ms linear forwards;
}
.body {
display: flex;
flex-direction: column;
position: relative;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
overflow-x: auto;
height: 10vh;
line-height: 19px;
color: white;
background-color: black;
white-space: nowrap;
}
.pre {
display: flex;
flex-direction: row;
align-items: center;
text-wrap: nowrap;
white-space: pre;
background-color: transparent;
overflow: hidden;
box-sizing: border-box;
font-size: 16px;
}
.pre code:nth-child(1) {
color: #575757;
}
.pre code:nth-child(2) {
color: #e34ba9;
}
.cmd {
height: 19px;
position: relative;
display: flex;
align-items: center;
flex-direction: row;
}
.cmd::before {
content: attr(data-cmd);
position: relative;
display: block;
white-space: nowrap;
overflow: hidden;
background-color: transparent;
animation: inputs 8s steps(22) infinite;
}
.cmd::after {
content: "";
position: relative;
display: block;
height: 100%;
overflow: hidden;
background-color: transparent;
border-right: 0.15em solid #e34ba9;
animation: cursor 0.5s step-end infinite alternate, blinking 0.5s infinite;
}

@keyframes blinking {
20%,
80% {
  transform: scaleY(1);
}
50% {
  transform: scaleY(0);
}
}
@keyframes cursor {
50% {
  border-right-color: transparent;
}
}
@keyframes inputs {
0%,
100% {
  width: 0;
}
10%,
90% {
  width: 58px;
}
30%,
70% {
  width: 215px;
  max-width: max-content;
}
}
@keyframes clipboard-check {
100% {
  color: #fff;
  d: path(
    "M 9 5 H 7 a 2 2 0 0 0 -2 2 v 12 a 2 2 0 0 0 2 2 h 10 a 2 2 0 0 0 2 -2 V 7 a 2 2 0 0 0 -2 -2 h -2 M 9 5 a 2 2 0 0 0 2 2 h 2 a 2 2 0 0 0 2 -2 M 9 5 a 2 2 0 0 1 2 -2 h 2 a 2 2 0 0 1 2 2 m -6 9 l 2 2 l 4 -4"
  );
}
}




/* From Uiverse.io by andrew-demchenk0 */ 
.pyramid-loader {
position: relative;
width: 300px;
height: 300px;
display: block;
transform-style: preserve-3d;
transform: rotateX(-20deg);
}

.wrapper {
position: relative;
width: 100%;
height: 100%;
transform-style: preserve-3d;
animation: spin 4s linear infinite;
}

@keyframes spin {
100% {
  transform: rotateY(360deg);
}
}

.pyramid-loader .wrapper .side {
width: 70px;
height: 70px;
/* you can choose any gradient or color you want */
background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); 
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
transform-origin: center top;
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.wrapper{
margin-top: 45vh;
right: 25vw;

}

.pyramid-loader .wrapper .side1 {
transform: rotateZ(-30deg) rotateY(90deg);
background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper .side2 {
transform: rotateZ(30deg) rotateY(90deg);
background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper .side3 {
transform: rotateX(30deg);
background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper .side4 {
transform: rotateX(-30deg);
background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper .shadow {
width: 60px;
height: 60px;
background: #8B5AD5;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
transform: rotateX(90deg) translateZ(-40px);
filter: blur(12px);
}

.box{
display: flex;
}



.loader {
--duration: 3s;
--primary: rgb(56, 56, 56);
--primary-light: #5c5c5c;
--primary-rgba: rgba(39, 94, 254, 0);
width: 200px;
height: 320px;
position: relative;
transform-style: preserve-3d;
}

@media (max-width: 480px) {
.loader {
  zoom: 0.44;
}
}

.loader:before, .loader:after {
--r: 20.5deg;
content: "";
width: 320px;
height: 140px;
position: absolute;
right: 32%;
bottom: -11px;
/* change the back groung color on switching from light to dark mood */
background:#2d2d2d;
transform: translateZ(200px) rotate(var(--r));
-webkit-animation: mask var(--duration) linear forwards infinite;
animation: mask var(--duration) linear forwards infinite;
}

.loader:after {
--r: -20.5deg;
right: auto;
left: 32%;
}

.loader .ground {
position: absolute;
left: -50px;
bottom: -120px;
transform-style: preserve-3d;
transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}

.loader .ground div {
transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
width: 200px;
height: 200px;
background: var(--primary);
background: linear-gradient(45deg, var(--primary) 0%, var(--primary) 50%, var(--primary-light) 50%, var(--primary-light) 100%);
transform-style: preserve-3d;
-webkit-animation: ground var(--duration) linear forwards infinite;
animation: ground var(--duration) linear forwards infinite;
}

.loader .ground div:before, .loader .ground div:after {
--rx: 90deg;
--ry: 0deg;
--x: 44px;
--y: 162px;
--z: -50px;
content: "";
width: 156px;
height: 300px;
opacity: 0;
background: linear-gradient(var(--primary), var(--primary-rgba));
position: absolute;
transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
-webkit-animation: ground-shine var(--duration) linear forwards infinite;
animation: ground-shine var(--duration) linear forwards infinite;
}

.loader .ground div:after {
--rx: 90deg;
--ry: 90deg;
--x: 0;
--y: 177px;
--z: 150px;
}

.loader .box {
--x: 0;
--y: 0;
position: absolute;
-webkit-animation: var(--duration) linear forwards infinite;
animation: var(--duration) linear forwards infinite;
transform: translate(var(--x), var(--y));
}

.loader .box div {
background-color: var(--primary);
width: 48px;
height: 48px;
position: relative;
transform-style: preserve-3d;
-webkit-animation: var(--duration) ease forwards infinite;
animation: var(--duration) ease forwards infinite;
transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

.loader .box div:before, .loader .box div:after {
--rx: 90deg;
--ry: 0deg;
--z: 24px;
--y: -24px;
--x: 0;
content: "";
position: absolute;
background-color: inherit;
width: inherit;
height: inherit;
transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
filter: brightness(var(--b, 1.2));
}

.loader .box div:after {
--rx: 0deg;
--ry: 90deg;
--x: 24px;
--y: 0;
--b: 1.4;
}

.loader .box.box0 {
--x: -220px;
--y: -120px;
left: 58px;
top: 108px;
}

.loader .box.box1 {
--x: -260px;
--y: 120px;
left: 25px;
top: 120px;
}

.loader .box.box2 {
--x: 120px;
--y: -190px;
left: 58px;
top: 64px;
}

.loader .box.box3 {
--x: 280px;
--y: -40px;
left: 91px;
top: 120px;
}

.loader .box.box4 {
--x: 60px;
--y: 200px;
left: 58px;
top: 132px;
}

.loader .box.box5 {
--x: -220px;
--y: -120px;
left: 25px;
top: 76px;
}

.loader .box.box6 {
--x: -260px;
--y: 120px;
left: 91px;
top: 76px;
}

.loader .box.box7 {
--x: -240px;
--y: 200px;
left: 58px;
top: 87px;
}

.loader .box0 {
-webkit-animation-name: box-move0;
animation-name: box-move0;
}

.loader .box0 div {
-webkit-animation-name: box-scale0;
animation-name: box-scale0;
}

.loader .box1 {
-webkit-animation-name: box-move1;
animation-name: box-move1;
}

.loader .box1 div {
-webkit-animation-name: box-scale1;
animation-name: box-scale1;
}

.loader .box2 {
-webkit-animation-name: box-move2;
animation-name: box-move2;
}

.loader .box2 div {
-webkit-animation-name: box-scale2;
animation-name: box-scale2;
}

.loader .box3 {
-webkit-animation-name: box-move3;
animation-name: box-move3;
}

.loader .box3 div {
-webkit-animation-name: box-scale3;
animation-name: box-scale3;
}

.loader .box4 {
-webkit-animation-name: box-move4;
animation-name: box-move4;
}

.loader .box4 div {
-webkit-animation-name: box-scale4;
animation-name: box-scale4;
}

.loader .box5 {
-webkit-animation-name: box-move5;
animation-name: box-move5;
}

.loader .box5 div {
-webkit-animation-name: box-scale5;
animation-name: box-scale5;
}

.loader .box6 {
-webkit-animation-name: box-move6;
animation-name: box-move6;
}

.loader .box6 div {
-webkit-animation-name: box-scale6;
animation-name: box-scale6;
}

.loader .box7 {
-webkit-animation-name: box-move7;
animation-name: box-move7;
}

.loader .box7 div {
-webkit-animation-name: box-scale7;
animation-name: box-scale7;
}

@-webkit-keyframes box-move0 {
12% {
  transform: translate(var(--x), var(--y));
}

25%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@keyframes box-move0 {
12% {
  transform: translate(var(--x), var(--y));
}

25%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@-webkit-keyframes box-scale0 {
6% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

14%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@keyframes box-scale0 {
6% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

14%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@-webkit-keyframes box-move1 {
16% {
  transform: translate(var(--x), var(--y));
}

29%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@keyframes box-move1 {
16% {
  transform: translate(var(--x), var(--y));
}

29%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@-webkit-keyframes box-scale1 {
10% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

18%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@keyframes box-scale1 {
10% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

18%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@-webkit-keyframes box-move2 {
20% {
  transform: translate(var(--x), var(--y));
}

33%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@keyframes box-move2 {
20% {
  transform: translate(var(--x), var(--y));
}

33%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@-webkit-keyframes box-scale2 {
14% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

22%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@keyframes box-scale2 {
14% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

22%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@-webkit-keyframes box-move3 {
24% {
  transform: translate(var(--x), var(--y));
}

37%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@keyframes box-move3 {
24% {
  transform: translate(var(--x), var(--y));
}

37%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@-webkit-keyframes box-scale3 {
18% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

26%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@keyframes box-scale3 {
18% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

26%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@-webkit-keyframes box-move4 {
28% {
  transform: translate(var(--x), var(--y));
}

41%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@keyframes box-move4 {
28% {
  transform: translate(var(--x), var(--y));
}

41%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@-webkit-keyframes box-scale4 {
22% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

30%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@keyframes box-scale4 {
22% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

30%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@-webkit-keyframes box-move5 {
32% {
  transform: translate(var(--x), var(--y));
}

45%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@keyframes box-move5 {
32% {
  transform: translate(var(--x), var(--y));
}

45%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@-webkit-keyframes box-scale5 {
26% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

34%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@keyframes box-scale5 {
26% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

34%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@-webkit-keyframes box-move6 {
36% {
  transform: translate(var(--x), var(--y));
}

49%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@keyframes box-move6 {
36% {
  transform: translate(var(--x), var(--y));
}

49%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@-webkit-keyframes box-scale6 {
30% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

38%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@keyframes box-scale6 {
30% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

38%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@-webkit-keyframes box-move7 {
40% {
  transform: translate(var(--x), var(--y));
}

53%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@keyframes box-move7 {
40% {
  transform: translate(var(--x), var(--y));
}

53%, 52% {
  transform: translate(0, 0);
}

80% {
  transform: translate(0, -32px);
}

90%, 100% {
  transform: translate(0, 188px);
}
}

@-webkit-keyframes box-scale7 {
34% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

42%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@keyframes box-scale7 {
34% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

42%, 100% {
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
}

@-webkit-keyframes ground {
0%, 65% {
  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
}

75%, 90% {
  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
}

100% {
  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
}
}

@keyframes ground {
0%, 65% {
  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
}

75%, 90% {
  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
}

100% {
  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
}
}

@-webkit-keyframes ground-shine {
0%, 70% {
  opacity: 0;
}

75%, 87% {
  opacity: 0.2;
}

100% {
  opacity: 0;
}
}

@keyframes ground-shine {
0%, 70% {
  opacity: 0;
}

75%, 87% {
  opacity: 0.2;
}

100% {
  opacity: 0;
}
}

@-webkit-keyframes mask {
0%, 65% {
  opacity: 0;
}

66%, 100% {
  opacity: 1;
}
}

@keyframes mask {
0%, 65% {
  opacity: 0;
}

66%, 100% {
  opacity: 1;
}
}


.button {
font-size: 17px;
border-radius: 12px;
background: linear-gradient(180deg, rgb(56, 56, 56) 0%, rgb(36, 36, 36) 66%, rgb(41, 41, 41) 100%);
color: rgb(218, 218, 218);
border: none;
padding: 2px;
font-weight: 700;
cursor: pointer;
position: relative;
overflow: hidden;
}

.button span {
border-radius: 10px;
padding: 0.8em 1.3em;
padding-right: 1.2em;
text-shadow: 0px 0px 20px #4b4b4b;
width: 100%;
display: flex;
align-items: center;
gap: 12px;
color: inherit;
transition: all 0.3s;
background-color: rgb(29, 29, 29);
background-image: radial-gradient(at 95% 89%, rgb(15, 15, 15) 0px, transparent 50%), radial-gradient(at 0% 100%, rgb(17, 17, 17) 0px, transparent 50%), radial-gradient(at 0% 0%, rgb(29, 29, 29) 0px, transparent 50%);
}

.button:hover span {
background-color: rgb(26, 25, 25);
}

.button-overlay {
position: absolute;
inset: 0;
pointer-events: none;
background: repeating-conic-gradient(rgb(48, 47, 47) 0.0000001%, rgb(51, 51, 51) 0.000104%) 60% 60%/600% 600%;
filter: opacity(10%) contrast(105%);
-webkit-filter: opacity(10%) contrast(105%);
}

.button svg {
width: 15px;
height: 15px;
}


@media(max-width: 800px){
.hideOnMobile{
  display: none;
}
}

@media(max-width: 800px){
.aloysius{
  font-size: 10px;
    max-width: 400px; /* Limits paragraph width */
    word-wrap: break-word; /* Ensures words wrap properly */


}
}


@media (max-width: 800px) {
.about {
  display: block; /* Or any other desired layout */
}
}
@media(max-width:500px){
.main{
  display: block;
}
}
@media(max-width:500px){

.image1{
  margin-top: 30%;
  width: 45vw;
}
}
@media(max-width:500px){

.image1{
  margin-top: 50%;
  width: 30vw;
}
}
@media(max-width:450px){
.input-field, .textarea-field, .captcha-input {
  width: 90%;
}
}

@media(max-width:450px){
  .intro{
    margin-top: 30vh;
  }
}

@media (max-width: 500px) {
  
.loader3 {
  --path: #2f3545;
  --dot: #5628ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader3:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader3 svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader3 svg rect,
.loader3 svg polygon,
.loader3 svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader3 svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader3 svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader3 svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader3.triangle {
  width: 48px;
}

.loader3.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader3 {
  display: inline-block;
  margin: 0 16px;
}

}

/* Hide the loader by default */
.loader3 {
  display: none;
}

/* Show the loader only when the screen width is 500px or smaller */
@media (max-width: 500px) {
  .loader3 {
    display: inline-block;
  }
}
@media (max-width: 500px) {
  .loader1{
    margin-left: -7%;
  }
}
@media (max-width: 500px){
  .gallery{
    padding: 0%;
  }
}
@media (max-width: 500px){
.card1 {
   padding:0;
  
}
}

@media (max-width: 500px){
  .pre{
    font-size: 6px;
  }
}